
body{
    align-items: center;
}
#elnt{
    text-align:center;
    width:"30x";
    border:2px dashed black;
    padding:20px;
    margin:10px;
    background-color: rgb(159, 127, 189);
}

.margin{
    height:"350px";
    width:"300px";
    border:1px dashed rgb(245, 245, 248); 
    padding:20px;
    margin:100px;
    background-color:rgb(45, 118, 145);
}
.border{
    border:4px Solid cornflowerblue;
    padding:20px;
    margin:10px;
    background-color: rgb(125, 209, 212);

}

.padding{
    border:4px dotted rgb(255, 0, 60);
    padding:20px;
    margin:10px;
    background-color:rgb(235, 182, 182);
}
